body {
  font-family: Helvetica;
  padding: 8px;
  font-weight: 300;
  letter-spacing: .09em;
}

.style-header {
  height: 1em;
  margin-bottom: 15%;
  padding: 3%;
  font-size: 40px;
  font-family: 'Mochiy Pop P One', sans-serif;
}

.style {
  display: inline-flex;
  align-items: center;
  width: 100%;
  margin-left: 15%;
}

.description {
  text-align: center;
  width: 100%;
  line-height: 1.5;
  margin-bottom: 10%;
}

#registration-form {
  text-align: center;
  width: 100%;
  line-height: 1.5;
  margin-bottom: 10%;
  margin-left: 0
  
}

.register {
  list-style-type: none;
}

.register li {
  margin-top: 50px;
}

   #recalculate {
  margin-top: 5%;
  font-size: 15px;
  display: flex;
  float: left; 
  margin-right: 5%;
}

h3 {
  padding-left: 40px;
}

p {
  padding-left: 40px;
}

.flex-list {
  margin-top: 5%;
  margin-bottom: 10%;
}



.flex-list li {
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;
}


.flex-list>li:not(:last-child) {
  margin-bottom: 50px;
}

.flex-list li label {

  text-transform: capitalize;
}

.text {
  margin-left: 10px;
  margin-right: 10px;
}

th,
td {
  padding: 40px;
  text-align: left;
  min-width: 1rem;
  border-bottom: 1px solid #ddd;
}

.table-1 {
  border-collapse: collapse;
  width: 50%;
}

.input-box {
  width: 45px;
  background-color: rgb(245, 245, 248);
  border: 1px solid black;
}

.button {
  width: 10%
}

.table-2 {
  border-collapse: collapse;
  width: 100%;
  font-size: 12px;
  text-align: center;

}

.total {
  font-size: 30px;
  width: fit-content;
  height: fit-content;

}

.unitinput {
  border: 0px inset #ccc;
  background-color: rgb(242, 248, 246);
}

.unitinput2 {
  border: 0px inset #ccc;
  background-color: white;
}

.unitinput input, .unitinput2 input {
  border: 0;

}

.color{
  width: 45px;
  background-color: white;
  border: 1px solid black;
}

a .submit-order {
  width: 25%;
  padding-right: 100px;
  margin-top: 2.5%;
  font-size: 15px;
  float: right;
  
  text-align: center;
}

.approve {
  padding-left: 40px;
  font-size: large;
  text-align: center;
  width: 100%;
  line-height: 1.5;
  margin-top: 10%;
  

}

#continue {
  font-size: 20px;
  margin-top: 5%;
  margin-bottom: 5%;
}