body {
  font-family: Helvetica;
  padding: 8px;
  font-weight: 300;
  letter-spacing: .09em;
}

.style-header {
  height: 1em;
  margin-bottom: 15%;
  padding: 3%;
  font-size: 40px;
  font-family: 'Mochiy Pop P One', sans-serif;
}

.style {
  display: inline-flex;
  align-items: center;
  width: 100%;
  margin-left: 15%;
}

.description {
  text-align: center;
  width: 100%;
  line-height: 1.5;
  margin-bottom: 10%;
}

#registration-form {
  text-align: center;
  width: 100%;
  line-height: 1.5;
  margin-bottom: 10%;
  margin-left: 0
  
}

.register {
  list-style-type: none;
}

.register li {
  margin-top: 50px;
}

   #go-back {
  margin-top: 5%;
  font-size: 15px;
  display: flex;
  float: left; 
  margin-right: 5%;
}

#continue {
  font-size: 15px;
  margin-top: 5%;
  margin-bottom: 5%;
  width: 10%;
  margin-left: 40%;
}
/* This is the styling of the calculate.html file*/

h3 {
  padding-left: 40px;
}

p {
  padding-left: 40px;
}

.flex-list {
  margin-top: 5%;
  margin-bottom: 5%;
}



.flex-list li {
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;
}


.flex-list>li:not(:last-child) {
  margin-bottom: 50px;
}

.flex-list li label {

  text-transform: capitalize;
}

.text {
  margin-left: 10px;
  margin-right: 10px;
}
#end-date2, #guests-numberp2 {
  margin-left: 10px;
}

th,
td {
  padding: 40px;
  text-align: left;
  min-width: 1rem;
  border-bottom: 1px solid #ddd;
}

.table-1 {
  border-collapse: collapse;
  width: 50%;
}

#chef {
margin-left: 20%;
margin-bottom: 5%;
margin-top: 0%;
}

.button {
  width: 10%
}

#load-content {
  width: 400px;
  height: 400px;
  visibility: hidden;
  float: right;
  margin-right: 15%;
  margin-top: 10%;
}

#load-content p {
  font-size: 13px;
  font-style: italic;
  line-height: 1.3;
  
} 


/* This is the styling of the order.html file*/

.table-2 {
  border-collapse: collapse;
  width: 100%;
  font-size: 12px;
  text-align: center;

}

.total {
  font-size: 15px;
  width: fit-content;
  height: fit-content;

}

#total-amount {
  font-size: 18px;
}

.unitinput {
  border: 0px inset #ccc;
  background-color: rgb(242, 248, 246);
}

.unitinput2 {
  border: 0px inset #ccc;
  background-color: white;
}

.unitinput input, .unitinput2 input {
  border: 0;

}

.input-box {
  width: 45px;
  
}

.smaller {
  width: 30px;
}

.color{
  width: 45px;
  background-color: white;
  border: 1px solid black;
}

a .recalculate {
  width: 12%;
  text-align: center;
  font-size: 15px;
  float: left;
  margin-left: 40px;
  
}

a .submit-order {
  width: 10%;
  text-align: center;
  font-size: 15px;
  float: right;
  margin-right: 40px;
  
}

/* This is the styling of the approval.html file*/

.approve {
  padding-left: 40px;
  font-size: large;
  text-align: center;
  width: 100%;
  line-height: 1.5;
  margin-top: 10%;
}

/* Footer styling for all html.files*/

.style-footer{
  height: 10px;
  width: 100%;
  text-align: center;
  margin-top: 15%;
}
